img.logo {
  background-color: $background;
  z-index: 11;
}
.header {
  background: $soft;
  padding: 2em 1em;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.btn-shadow {
  &:hover {
    color: $text;
  }
  background-color: $soft;
  border-radius: 15px;
  display: block;
  padding: 0.4em 3em;
  box-shadow: 0 3px 10px $soft;
  color: $text;
  font-weight: bold;
}

.bg-soft {
	background: $soft;
}
.text-soft {
  color: $soft;
}
.text-icon {
  color: $icon;
}
.bg-background {
	background: $background;
}